# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode stuff
*.vscode

# latex stuff
*.aux
*.log
*.nlo
*.out
*.toc
*.xml

# literature folder because I cant share those
02_literature/*

# python 
*__pycache__

# openFOAM stuff
*log*
*processor*
*polyMesh*
*.OpenFOAM
*.foam
*0/
*linux64GccDPInt32Opt*
*ZZ_cases*

# singularity container --> too big for github
01_codes/singularity/ubuntu.sif
01_codes/singularity/ubuntu2.sif
01_codes/singularity/ubuntu3.sif
